@using TwentyOneDayApp.Models
@{
    Layout = null;
}
@{
    var user = ViewBag.user as User;
}
<!DOCTYPE html>
<html ng-app="twdApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/stylesheets/print.css" rel="stylesheet" media="print" />
    <link href="~/Content/stylesheets/screen.css" rel="stylesheet" media="screen,projection" />
</head>
    <body>
        <div class="container">
            <header>
                <div class="logo">
                    <h1>Twenty One Day Helper</h1>
                </div>
                <div class="login">
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Home", "Index", "Collection")
                        @Html.ActionLink("Log In", "Login", "Account")
                        @Html.ActionLink("Register", "Register", "Account")
                    }
                    else
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                        {
                            <p>Welcome, @user.Username</p>
                            @Html.ActionLink("Home", "Index", "Collection")
                            <input class="link" type="submit" value="Log Out"/>
                        }
                    }
                </div>
            </header>
            
            <div class="main-content">
                @RenderBody()
            </div>
            
            <footer>
                <p>&copy; @DateTime.UtcNow.Year Sam Winter</p>
            </footer>
        </div>
        
        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/twdApp/app.js"></script>
        <script src="~/Scripts/twdApp/scripts.js"></script>
        @RenderSection("bottomScripts", false)
    </body>
</html>
