@model TwentyOneDayApp.ViewModels.RegisterViewModel 
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Registration</legend>
        @Html.ValidationSummary()
        <p>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </p>
        <p>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <p>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </p>
    </fieldset>
    <p>
        <input type="submit" value="Sign Up"/>
    </p>
}